:root {
    --background-color-old: #d2d9ff;
    --background-color: #000000;
    --text-color: #fdfafe;
    --text-color-50: #fdfafe80;
    --body-font: b612regular, sans-serif;
}

@media (prefers-contrast: more) {
  :root {
      --text-color-66: var(--text-color);
  }
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
}


.outer-box {
    /* position: relative; */
    width: 80vw;
    margin: 0 auto;
    overflow: visible;
}

.content {
    position: relative;
    margin-top: 75vh;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    z-index: 25;
}

.button {
    margin: 0 auto;
    animation-name: title-fade;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

.button a {
    transition: color 0.5s ease;
    cursor: pointer;
}

.button a.pink {
    color: var(--pride-bi-pink);
}

.button a.purple {
    color: var(--pride-bi-purple);
}

.button a.blue {
    color: var(--pride-bi-blue);
}

.button a.pink:hover {
    color: var(--pride-bi-purple);
}

.button a.purple:hover {
    color: var(--pride-bi-blue);
}

.button a.blue:hover {
    color: var(--pride-bi-pink);
}

.button a.pink:active {
    color: var(--pride-bi-blue);
}

.button a.purple:active {
    color: var(--pride-bi-pink);
}

.button a.blue:active {
    color: var(--pride-bi-purple);
}


h1 {
    font-size: 24vmax;
}

.title {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    line-height: 1;
    font-family: starfleet2, sans-serif;
    animation-name: title-fade;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    z-index: 0;
    margin-top: 2vmax;
}

h2 {
    font-size: 4vmax;
    font-family: federationregular, sans-serif;
    overflow: visible;
    animation-name: subtitle-fade;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: both;
    overflow: visible;
    margin: 15vh auto 0;
    position: absolute;
    top: 50vh;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 5px;
    border-radius: 10px;
}

.subtitle {
    text-shadow: 0 0 8px #000000;
}

object.animated {
    overflow: visible;
    margin: 15vh auto 0;
    position: absolute;
    top: 50vh;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 5;
}

.title, .transporter-top, .transporter-bottom {
    position: absolute;
    top: 50vh;
    align-content: baseline;
    left: 50%;
}
.title {
    transform: translate(-50%, -60%);
}

.transporter-top, .transporter-bottom {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    color: #ffffff;
    transform: translate(-50%, -60%) scaleX(0.5);
}

.transporter-top {
    z-index: 1;
}

.transporter-bottom {
    z-index: -1;
}

.transporter-top h1, .transporter-bottom h1 {
    font-family: robotothin, sans-serif;
    font-weight: 100;
    transform: scaleX(0.3);
}

.transporter-top div, .transporter-bottom div {
    display: flex;
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    color: #ffffff;
}

.invert {
    transform: scale(-1, -1) translateY(-9%);
}

.t1 {
    animation-name: tng-transporter;
    animation-delay: 0.1s;
    animation-duration: 3s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t2 {
    animation-name: tng-transporter;
    animation-delay: 0.2s;
    animation-duration: 3s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t3 {
    animation-name: tng-transporter;
    animation-delay: 0.3s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t4 {
    animation-name: tng-transporter;
    animation-delay: 0.4s;
    animation-duration: 2s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t5 {
    animation-name: tng-transporter;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t6 {
    animation-name: stiv-transporter-top;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.t7 {
    animation-name: stiv-transporter-bottom;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.copyright {
    color: var(--text-color-50);
    font-size: 1vmin;
    animation-name: subtitle-fade;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-fill-mode: both;
    transition: font-size 0.25s ease-in-out;
}

.copyright:hover {
    font-size: calc(0.25rem + 1vmin);
    transition: font-size 0.25s ease-in-out;
}

@media (prefers-reduced-motion) {
  .animated {
      display: none;
  }
  .title {
      color: var(--pride-bi-blue)
  }
}

.project-container {
  animation-name: subtitle-fade;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-fill-mode: both;
  transition: font-size 0.25s ease-in-out;
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  position: relative;
  margin: 8vh auto 0;
  text-decoration: none;
  z-index: 100;
  background-image: url("../images/TRaHR.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* background-color: #757276; */
  /* border: 5px dashed greenyellow; */
}

.project {
  margin: 0 auto;
  width: 40%;
  min-width: 375px;
  color: var(--text-color);
  margin: -1% auto;
  object-fit: contain;
  /* border-radius: 15px; */
  /* background-color: #757276; */
  /* border: 5px dashed greenyellow; */
}

.project-button {
  width: 80%;
}

.warflags {
  background-color: #ffffff;
  color: #00071e;
}

.warflags h1 {
  font-family: old_harbour_seashellsregular, sans-serif;
  color: #001553;
  font-size: 4em;
}
