:root {
    --background-color-old: #d2d9ff;
    --background-color: #000000;
    --text-color: #fdfafe;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.outer-box {
    /* position: relative; */
    width: 80vw;
    margin: 0 auto;
    overflow: visible;
}

.content {
    position: relative;
    margin-top: 75vh;
}

h1 {
    font-size: 24vmax;
}

.title {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    line-height: 1;
    font-family: starfleet2, sans-serif;
    animation-name: title-fade;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    z-index: 0;
    margin-top: 2vmax;
}

h2 {
    font-size: 4vmax;
    font-family: federationregular, sans-serif;
    overflow: visible;
    animation-name: subtitle-fade;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: both;
    overflow: visible;
    margin: 15vh auto 0;
    position: absolute;
    top: 50vh;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 5px;
    border-radius: 10px;
}

object {
    overflow: visible;
    margin: 15vh auto 0;
    position: absolute;
    top: 50vh;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 5;
}

.transporter-top, .transporter-bottom {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    color: #ffffff;
}

.transporter-top {
    z-index: 1;
}

.transporter-bottom {
    z-index: -1;
}

.title, .transporter-top, .transporter-bottom {
    position: absolute;
    top: 50vh;
    align-content: baseline;
    left: 50%;
    transform: translate(-50%, -60%);
}

.transporter-top h1, .transporter-bottom h1 {
    font-family: robotothin, sans-serif;
    font-weight: 100;
    /* margin-top: 8rem; */
}

.t1 {
    animation-name: tng-transporter;
    animation-delay: 0.1s;
    animation-duration: 3s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t2 {
    animation-name: tng-transporter;
    animation-delay: 0.2s;
    animation-duration: 3s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t3 {
    animation-name: tng-transporter;
    animation-delay: 0.3s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t4 {
    animation-name: tng-transporter;
    animation-delay: 0.4s;
    animation-duration: 2s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t5 {
    animation-name: tng-transporter;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    text-shadow: 0 0 4px #ffffff, 0 0 8px #ffffff, 0 0 12px #a2c0ff, 0 0 16px #a2c0ff, 0 0 20px #a2c0ff, 0 0 24px #a2c0ff, 0 0 30px #a2c0ff;
}

.t6 {
    animation-name: stiv-transporter-top;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.t7 {
    animation-name: stiv-transporter-bottom;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-fill-mode: both;
}